.new-progress {
  display: flex;
  max-width: 80%;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;

  button {
    margin: 0.5rem 0 0.75rem 0;
  }
  .react-datepicker__input-container {
    margin: 0;
  }
}

.form-div {
  display: flex;
  align-items: center;
  margin: 0.5rem 0.25rem;
}

.progress {
  align-items: center;
  border: 3px solid $progress-background;
  background-color: white;
  max-width: 80%;
  padding: 1rem 1rem;
  max-width: 85%;
  display: grid;
  grid-template-columns: 1fr repeat(1, auto) 1fr;
  grid-column-gap: 5px;
  justify-items: center;
  margin: auto;
  border-radius: 0.5rem;
  color: $progress-background;
  margin-bottom: 2rem;
}

.progress-button {
  color: $progress-background;
  background-color: white;
}

.progress-button:hover {
  background-color: $progress-background;
  color: white;
}

@media (min-width: 575.98px) {
  .progress {
    max-width: 65%;
  }
  .new-progress {
    max-width: 65%;
  }
}
