.new-progress {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;

  button {
    margin: 0.5rem 0 0.75rem 0;
  }
  .react-datepicker__input-container {
    margin: 0;
  }
}

.form-div {
  display: flex;
  align-items: center;
  margin: 0.5rem 0.25rem;
}

.progress {
  position: relative;
  align-items: center;
  border: 3px solid $progress-background;
  background-color: white;
  padding: 1rem 1rem;
  display: grid;
  grid-template-columns: 1fr repeat(1, auto) 1fr;
  grid-column-gap: 5px;
  justify-items: center;
  border-radius: 0.5rem;
  color: $progress-background;
  margin-bottom: 2rem;
}

.progress-button {
  color: $progress-background;
  background-color: white;
  border: 0;
}

.progress-button:hover {
  background-color: $progress-background;
  color: white;
}

.delete-button-progress {
  font-size: 1.5rem;
  padding: 0;
  position: absolute;
  top: 1px;
  right: 0;
}

.delete-button-progress:hover {
  color: $button-background;
  background-color: white;
}
