.todo-container {
  max-width: 100%;
  margin: auto;
}

.todo {
  background-color: $todo-background;
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: 1fr repeat(1, auto) 1fr;
  grid-column-gap: 5px;
  justify-items: center;
  border-radius: 0.5rem;
  color: white;
  position: relative;
  margin-bottom: 2rem;
}

.todo-header {
  align-self: center;
  grid-column-start: 2;
}

.button-holder {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.todo-button {
  background-color: $todo-background;
  color: white;
  border: 0;
  margin: 0 0.1rem;
}

.first-button {
  margin-right: 1rem;
}

.delete-button-todo {
  font-size: 1.5rem;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.todo-button:hover {
  color: $todo-background;
  background-color: white;
}

.delete-button-todo:hover {
  background-color: $todo-background;
  color: $button-background;
}

.todo-and-progress {
  margin: 1rem 0;
}

.progress-holder {
  max-width: 85%;
  margin: auto;
}

@media (min-width: 575.98px) {
  .todo-container {
    max-width: 70%;
  }
  .progress-holder {
    max-width: 65%;
  }
}
